

body {
	background-color: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#clock {
	position: absolute;
	width: 100%;
	top: 50%;
	position: absolute;
	opacity: 0;
	z-index: -1;
	-webkit-transition: all 1000ms ease;
	-moz-transition: all 1000ms ease;
	-ms-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;
	-ms-transform: scale(0.3,0.3);
    -webkit-transform: scale(0.3,0.3);
    transform: scale(0.3,0.3);
}
#clock.active {
	opacity: 1;
	z-index: 30;
	-ms-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
}
.clock-container {
	text-align: center;
	margin-bottom: 53px;
	margin-top: 10%;
	
}


